<form>
	<div class="form-group">
		<input class="form-control" type="text" name="board[title]" placeholder="New board">
	</div>
	<div class="form-group">
		<input class="form-control" type="submit" value="Create!">
	</div>
</form>