/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require jquery.ui.all
 *= require_tree .
 */

@import "bootstrap";
@import "font-awesome";

.index-list {
	font-size: 115%;
}

.list {
	padding: 5px;
}

.list-inner {
	border-radius: 5px;
	border: 1px black solid;
	background-color: rgb(245, 245, 245);
	
	> header {
		padding: 5px;
		border-radius: 5px 5px 0 0;
	}
	
	.cards {
		padding: 5px;
		
		border-radius: 0 0 5px 5px;
	}
}

.card-index-item {
	position: relative;
	border-radius: 5px;
	padding: 5px;
	margin: 5px;
	background-color: white;
	
	header {
		font-weight: bold;
		border-bottom: 1px solid whitesmoke;
		text-align: center;
	}
	
	.content {
	}
	
	.delete-item {
		visibility: hidden;
		opacity: 0;
		font-size: 8px;
		position: absolute;
		top: 2px;
		right: 2px;
		transition: opacity 1s ease;
		
		&:hover {
			text-decoration: none;
			color: red;
		};
	}
	
	&:hover {
		.delete-item {
			visibility: visible;
			opacity: 1;
		}
	}
}