<div class="list-inner">
	<div class="form-group">
		<button class="form-control toggle">Add List</button>
	</div>
	<form class="toggleable" style="display:none">
		<div class="form-group">
			<input placeholder="title" class="form-control" type="text" name="list[title]">
		</div>
		<div class="form-group">
			<input class="form-control" type="submit" value="Create!">
		</div>
	</form>
</div>