<div class="list-inner">
	<a href="javascript:void(0)" class="delete-item">X</a>
	<header class="list-header">
		<h4><%= list.get("title") %></h4>
	</header>
	<div class="cards">
	</div>
	<div class="new-card">
	</div>
</div>